/*Removing default browser-enforces styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Doc colors*/
:root {
    --primary-color: #78d3da;
    --secondary-color: rgb(58, 56, 56);
    --tertiary-color: rgb(69, 69, 112);
}

/*Defining color and font for the body of index.html */
body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;  
    background-color: rgb(212, 212, 230);
}

.section-title {
    font-size: 36px;
    color: var(--tertiary-color);
    border-right: 3px solid;
    padding: 5px 10px;
    text-align: right;
    margin: 20px 20px 20px auto;
    width: 75%;
}

.font-color {
    color: var(--tertiary-color);
}
/*Body Style End*/

/*Header Style Start*/
header {
    padding: 20px 35px 20px 0px;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(58, 56, 56);
    margin: 0;
    padding: 5px 10px 5px 75px;
    background-color: var(--primary-color);
}

header a {
    text-decoration: underline;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul li a:hover, .contact nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
}
/*Header Style End*/

/*Hero Style Start*/
.hero {
    background-image: url(../images/hero.jpg);
    padding: 80px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    background-color: var(--primary-color);
    display: inline;
    padding: 5px 10px;
    position: absolute;
    margin-left: 80%;
}
/*Hero Style End*/

/*About Me Style Start*/
.flex-aboutme, .flex-contactme {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-me-title, .contact-me-title {
    display: flex;
    flex-wrap: wrap;
}

.about-me-info, .contact nav {
    flex: 15;
    margin: auto 75px auto 0px;
}
/*About Me Style End*/

/*Contact Me Style Start*/
.contact {
    padding: 20px 35px 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.contact h2 {
    margin: 20px 20px 20px 5px;
}

.contact nav ul {
    display: flex;
    list-style: none;
}
.contact nav ul li a {
    padding: 10px 70px;
    color: var(--tertiary-color);
}
/*Contact Me Style End*/