/*Removing default browser-enforces styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Doc colors*/
:root {
    --primary-color: #78d3da;
    --secondary-color: rgb(58, 56, 56);
}

/*Header Style Start*/
header {
    padding: 20px 35px 20px 0px;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Helvetica, Arial, sans-serif;  
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(58, 56, 56);
    margin: 0;
    padding: 5px 10px 5px 75px;
    background-color: var(--primary-color);
}

header a {
    text-decoration: underline;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
}
/*Header Style End*/

/*Defining color and font for the body of index.html */
/*body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;  
}*/

/*Body Style End*/